In [179]:
# Module used to connect Python to MongoDB
import pymongo

In [180]:
# Dependencies -cont'd
import pandas as pd

In [186]:
# Read country info provided on https://countrycode.org/ and convert it to Pandas DataFrame
cntry_code_df = pd.read_csv('../data/rawdata/cntry_code.csv', encoding='UTF-8')

# Preview "animal_df"
cntry_code_df.head()

          COUNTRY COUNTRY CODE ISO CODES
0     Afghanistan           93  AF / AFG
1         Albania          355  AL / ALB
2         Algeria          213  DZ / DZA
3  American Samoa        1-684  AS / ASM
4         Andorra          376  AD / AND

In [181]:
# Setup connection to MongoDB using default port 27017
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [182]:
# Establish "EndangeredAnimalDB" Database and "animal_facts" Collection
db = client.EndangeredAnimalDB
coll = db.animal_facts

In [198]:
# Retrieve all documents in "animal_facts" Collection
documents = coll.find()

# List to store animal common names on each document from "animal_facts" Collection
name_list = []

# Set the initial value of document counter to 0
docu_ct = 0

# Loop through all documents
for docu in documents:
    # Add one to document counter
    docu_ct += 1
    # Append animal common name on each document to "name_list"
    name_list.append(docu['Common_Name'])
    
# Make sure no animal common name is missing from the documents 
if len(name_list) == docu_ct:
    # Print total document counts
    print(f'There are {docu_ct} documents in "animal_facts" Collection.\n')
    print(f'All documents have animal common names.')

There are 69 documents in "animal_facts" Collection.

All documents have animal common names.

In [73]:
# Checklist to store cntry names from "animal_facts" that are different as shown in 'cntry_code_df'
cntry_chkl = []

# Loop through all documents from "animal_facts"
for i in range(docu_ct):
    docu = coll.find_one({'Common_Name': name_list['Common_Name'][i]})
    
    try:
        im = docu['Native_Extant_Resident_Cntry']
        [cntry_chkl.append(cntry) for cntry in im if cntry not in list(cntry_code_df.COUNTRY)\
            and cntry not in cntry_chkl]      
  
    except KeyError:
        pass
    
    try:      
        im = docu['Native_Extant_Cntry']
        [cntry_chkl.append(cntry) for cntry in im if cntry not in list(cntry_code_df.COUNTRY)\
            and cntry not in cntry_chkl]    
    except KeyError:
        pass

len(cntry_chkl)

107

In [176]:
cntry_change = {}

In [177]:
cntry_change[cntry_chkl[0]] = 'Republic of the Congo'
cntry_change[cntry_chkl[1]] = 'Democratic Republic of the Congo'
cntry_change[cntry_chkl[2]] = 'Ivory Coast'
cntry_change[cntry_chkl[3]] = 'Tanzania'
cntry_change[cntry_chkl[4]] = 'Netherlands Antilles'
cntry_change[cntry_chkl[5]] = 'Cocos Islands'
cntry_change[cntry_chkl[6]] = 'Curacao'
cntry_change[cntry_chkl[7]] = 'French Guiana'
cntry_change[cntry_chkl[8]] = 'Saint Martin'
cntry_change[cntry_chkl[9]] = 'North Korea'
cntry_change[cntry_chkl[10]] = 'South Korea'
cntry_change[cntry_chkl[11]] = 'Martinique'
cntry_change[cntry_chkl[12]] = 'Micronesia'
cntry_change[cntry_chkl[13]] = 'Antarctica'
cntry_change[cntry_chkl[14]] = 'Reunion'
cntry_change[cntry_chkl[15]] = 'Saint Barthelemy'
cntry_change[cntry_chkl[16]] = 'Saint Helena'
cntry_change[cntry_chkl[17]] = 'Saint Martin'
cntry_change[cntry_chkl[18]] = 'Sao Tome and Principe'
cntry_change[cntry_chkl[19]] = 'Sint Maarten'
cntry_change[cntry_chkl[20]] = 'Syria'
cntry_change[cntry_chkl[21]] = 'Taiwan'
cntry_change[cntry_chkl[22]] = 'East Timor'
cntry_change[cntry_chkl[23]] = 'United States Minor Outlying Islands'
cntry_change[cntry_chkl[24]] = 'Venezuela'
cntry_change[cntry_chkl[25]] = 'Vietnam'
cntry_change[cntry_chkl[26]] = 'British Virgin Islands'
cntry_change[cntry_chkl[27]] = 'U.S. Virgin Islands'
cntry_change[cntry_chkl[28]] = 'Bolivia'
cntry_change[cntry_chkl[29]] = 'Russia'
cntry_change[cntry_chkl[30]] = 'United States'
cntry_change[cntry_chkl[31]] = 'Iran'
cntry_change[cntry_chkl[32]] = 'Macedonia'
cntry_change[cntry_chkl[33]] = 'Indonesia'
cntry_change[cntry_chkl[34]] = 'Laos'
cntry_change[cntry_chkl[35]] = 'Malaysia'
cntry_change[cntry_chkl[36]] = 'Brunei'
cntry_change[cntry_chkl[37]] = 'Falkland Islands'
cntry_change[cntry_chkl[38]] = 'Brazil'
cntry_change[cntry_chkl[39]] = 'French Southern Territories'
cntry_change[cntry_chkl[40]] = 'Portugal'
cntry_change[cntry_chkl[41]] = 'Russia'
cntry_change[cntry_chkl[42]] = 'Falkland Islands'
cntry_change[cntry_chkl[43]] = 'Spain'
cntry_change[cntry_chkl[44]] = 'Indonesia'
cntry_change[cntry_chkl[45]] = 'Malaysia'
cntry_change[cntry_chkl[46]] = 'Equatorial Guinea'
cntry_change[cntry_chkl[47]] = 'Netherlands Antilles'
cntry_change[cntry_chkl[48]] = 'India'
cntry_change[cntry_chkl[49]] = 'Japan'
cntry_change[cntry_chkl[50]] = 'Mauritius'
cntry_change[cntry_chkl[51]] = 'Papua New Guinea'
cntry_change[cntry_chkl[52]] = 'Yemen'
cntry_change[cntry_chkl[53]] = 'Bouvet Island'
cntry_change[cntry_chkl[54]] = 'French Southern Territories'
cntry_change[cntry_chkl[55]] = 'Heard Island and McDonald Islands'
cntry_change[cntry_chkl[56]] = 'Saint Helena'
cntry_change[cntry_chkl[57]] = 'Seychelles'
cntry_change[cntry_chkl[58]] = 'Ecuador'
cntry_change[cntry_chkl[59]] = 'China'
cntry_change[cntry_chkl[60]] = 'Australia'
cntry_change[cntry_chkl[61]] = 'United States'
cntry_change[cntry_chkl[62]] = 'Australia'
cntry_change[cntry_chkl[63]] = 'Netherlands Antilles'
cntry_change[cntry_chkl[64]] = 'Equatorial Guinea'
cntry_change[cntry_chkl[65]] = 'French Southern Territories'
cntry_change[cntry_chkl[66]] = 'India'
cntry_change[cntry_chkl[67]] = 'Indonesia'
cntry_change[cntry_chkl[68]] = 'Japan'
cntry_change[cntry_chkl[69]] = 'Malaysia'
cntry_change[cntry_chkl[70]] = 'Mexico'
cntry_change[cntry_chkl[71]] = 'New Zealand'
cntry_change[cntry_chkl[72]] = 'Saint Helena'
cntry_change[cntry_chkl[73]] = 'United States'
cntry_change[cntry_chkl[74]] = 'United States Minor Outlying Islands'
cntry_change[cntry_chkl[75]] = 'Venezuela'
cntry_change[cntry_chkl[76]] = 'India'
cntry_change[cntry_chkl[77]] = 'Mexico'
cntry_change[cntry_chkl[78]] = 'United States'
cntry_change[cntry_chkl[79]] = 'New Zealand'
cntry_change[cntry_chkl[80]] = 'Australia'
cntry_change[cntry_chkl[81]] = 'British Indian Ocean Territory'
cntry_change[cntry_chkl[82]] = 'Disputed Territory'
cntry_change[cntry_chkl[83]] = 'French Polynesia'
cntry_change[cntry_chkl[84]] = 'India'
cntry_change[cntry_chkl[85]] = 'Kiribati'
cntry_change[cntry_chkl[86]] = 'United States Minor Outlying Islands'
cntry_change[cntry_chkl[87]] = 'France'
cntry_change[cntry_chkl[88]] = 'Netherlands Antilles'
cntry_change[cntry_chkl[89]] = 'United States'
cntry_change[cntry_chkl[90]] = 'Sao Tome and Principe'
cntry_change[cntry_chkl[91]] = 'Venezuela'
cntry_change[cntry_chkl[92]] = 'Canada'
cntry_change[cntry_chkl[93]] = 'Canada'
cntry_change[cntry_chkl[94]] = 'United States'
cntry_change[cntry_chkl[95]] = 'Canada'
cntry_change[cntry_chkl[96]] = 'Russia'
cntry_change[cntry_chkl[97]] = 'Canada'
cntry_change[cntry_chkl[98]] = 'Mexico'
cntry_change[cntry_chkl[99]] = 'United States'
cntry_change[cntry_chkl[100]] = 'China'
cntry_change[cntry_chkl[101]] = 'India'
cntry_change[cntry_chkl[102]] = 'Indonesia'
cntry_change[cntry_chkl[103]] = 'China'
cntry_change[cntry_chkl[104]] = 'Malaysia'
cntry_change[cntry_chkl[105]] = 'Mexico'
cntry_change[cntry_chkl[106]] = 'Angola'

In [9]:
for cntry in cntry_chkl:
    coll.update_many({'Common_Name': animal_df['Common_Name'][i]})

['Congo',
 'Congo, The Democratic Republic of the',
 "CÃ´te d'Ivoire",
 'Tanzania, United Republic of']

In [24]:
try:
    it = coll.find_one({'Common_Name': animal_df['Common_Name'][1]})['Native_Extant_Cntry']
    print("aaaa")
except KeyError:
    print("bbbb")

bbbb